li {
    background-color: seagreen;
    color: white;
}

div#navbar {

}

div#footer {

}

img#logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

div#content {
    background-color: grey;
}